<%= link_to contestant_path(contestant) do %>
    <div class='contestant_nameplate_full'>
        <div class='headshot'><%= image_tag contestant.headshot_url %></div>
        <div class='name'>
            <h2 class='native'><%= contestant.name_native %></h1>
            <h2 class='english'><%= contestant.name_english %></h2>
        </div>
        <div class='bodyshot'><%= image_tag contestant.bodyshot_url %></div>
        <div class='actions'>
            <%= link_to 'Add', add_to_group_contestant_path(contestant, group_id: current_user.current_group), class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>