<div class='contestant-nameplate-half'>
    <% if contestant.is_center_for(group) %>
        <div class='center-label mt-1'>Center</div>
    <% end %>
    <%= link_to contestant_path(contestant) do %><div class='headshot'><%= image_tag contestant.headshot_url %></div><% end %>
    <div class='name'>
        <h2 class='native'><%= contestant.name_native %></h1>
        <h2 class='english'><%= contestant.name_english %></h2>
    </div>
    <div class='actions'>
        <% if contestant.is_center_for(group) %>
            <%= link_to 'Center', '#', class: 'btn btn-primary' %>
        <% else %>
            <%= link_to 'Make Center', make_center_contestant_path(contestant, group_id: group.id), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Remove', remove_from_group_contestant_path(contestant, group_id: group.id), class: 'btn btn-secondary' %>
    </div>
</div>
