<%= content_for(:title) { "#{@contestant.name_native} (#{@contestant.name_english})" } %>
<%= content_for(:page_description) { "#{@contestant.contest.name_native}'s #{@contestant.name_native} (#{@contestant.name_english})}" } %>

<div class='container'>
    <div class='contestant'>
        <div class='row'>
            <div class='col-sm'>
                <% @contestant.performances.order('updated_at DESC').each do |performance| %>
                    <div class='performance mb-4'>
                        <h3 class='mb-1'><%= performance.name_native %></h2>
                        <h3 class='mb-1'><%= performance.name_english %></h2>
                        <div class='video'><%= youtube_video performance.youtube_video_id %></div>
                    </div>
                <% end %>
            </div>
            <div class='col-sm'>
                <% if current_user.blank? || user_signed_in? && current_user.current_group.blank? %>
                    <div class='pick-them mb-4'>
                        <%= link_to 'だれがアイドルになるか当ててみてください！', new_group_path(contestant: @contestant), class: 'btn btn-secondary' %>
                    </div>
                <% end %>
                <h4><%= link_to 'プロフィール', @contestant.profile_url, target: '_blank'%></h4>
                <h4><%= link_to '出場者のグループ', groups_contestant_path %></h4>
            </div>
            <div class='col-sm'>
                <div class='mb-4'><%= render partial: 'nameplate_full', locals: {contestant: @contestant} %></div>
            </div>
        </div>
    </div>
</div>