<%= form_for(@group || Group.new) do |f| %>
    <div class="field">
      <%= f.label '名前 (name)' %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field mt-4">
      <%= f.label '説明 (description)' %><br />
      <%= f.text_area :description, rows: '11', placeholder: "Do you have a theme for this group?  Share the reasons behind your picks." %>
    </div>
  
    <%= hidden_field_tag(:user_id, @group.user_id) %>
    <%= hidden_field_tag(:contest_id, @group.contest_id) %>
    <%= hidden_field_tag(:contestant_id, params[:contestant]) %>

    <% if @group.persisted? %>
      <%= render partial: 'groups/group', locals: { group: @group } %>

      <% if @group.contestants.count < @group.contest.group_size %>
        <p class='mb-1 mt-4'><%= link_to 'だれがアイドルになるか当ててみてください (pick the winners)!', root_path %></p>
        <p><%= link_to 'ランダム化 (randomize)', add_random_members_group_path(@group) %></p>
      <% end %>
    <% end %>

    <%= f.submit (@group.persisted? ? 'Update' : 'Create'), class: 'btn btn-primary btn-lg mb-4 mt-4' %>
<% end %>