<div class='summary mb-4'>
    <h4 class='mb-1'>
        <%= link_to group.name, group_path(group) %>
        <%= ' (active group)' if group.is_active_for(current_user) %>
    </h4>
    <%= render partial: 'groups/group', locals: { group: group } %>
    <p><%= group.description %></p>

    <p class='mt-2'>
        <% unless group.is_active_for(current_user) %>
            <span><%= link_to('make active group', make_current_group_path(group)) %></span> | 
        <% end %>
        <span>
            <%= link_to edit_group_path(group) do %>
                編集 (edit) <i class='fas fa-edit'></i>
            <% end %>
        </span> |
        <span>
            <%= link_to group, method: :delete, data: { confirm: '本当によろしいですか? (Are you sure?)' } do %>
                disband <i class='fas fa-trash-alt'></i>
            <% end %>
        </span>
    </p>
</div>