<div class='group mb-4'>
    <% if group.center.present? %>
        <% center = group.center %>
    <% else %>
        <% center = group.random_member %>
    <% end %>
    
    <div class='row the-center mb-4 mt-4'>
        <div class='member is-center'>
            <%= link_to contestant_path(center) do %><div class='headshot'><%= image_tag(center.headshot_url) %></div><% end %>
            <div class='native m-0'><%= center.name_native %></div>
            <div class='english m-0'><%= center.name_english %></div>

            <div class='actions'>
                <%= link_to 'Center', '#' %> | 
                <%= link_to 'Remove', remove_from_group_contestant_path(center, group_id: group.id) %>
            </div>
        </div>
    </div>

    <div class='row contestants'>
        <% group.ordered_contestants.each do |member| %>
            <% unless member.is_center_for(group) %>
                <div class='member'>
                    <%= link_to contestant_path(member) do %><div class='headshot'><%= image_tag(member.headshot_url) %></div><% end %>
                    <div class='native m-0'><%= member.name_native %></div>
                    <div class='english m-0'><%= member.name_english %></div>

                    <div class='actions'>
                        <% unless member.is_center_for(group) %>
                            <%= link_to 'Make Center', make_center_contestant_path(member, group_id: group.id) %> | 
                        <% end %>
                        <%= link_to 'Remove', remove_from_group_contestant_path(member, group_id: group.id) %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
