<%= content_for(:title) { 'お問い合わせ' } %>

<h3 class='mb-2 mt-4'>お問い合わせ</h3>

<%= form_for(@message) do |f| %>
    <div class="field">
      <%= f.label 'メールアドレス' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'メッセージを送る' %><br />
      <%= f.text_area :message, rows: '11', placeholder: "" %>
    </div>

    <%= f.submit '送る', class: 'btn btn-primary btn-lg mb-4 mt-4' %>
<% end %>