<%= content_for(:title) { 'ホーム (Home)' } %>
<%= content_for(:page_description) { 'アイドルショーのファンタジースポーツサイトのように、Oijofieはユーザーが自分のファンタジーグループに競技者を追加できるようにします。競技者が実生活でランキングを受け取ると、ファンタジーグループは含まれる各メンバーに基づいてスコアが付けられます。グループスコアはラウンドごとに累積します。' } %>

<div class='homepage'>
    <% if user_signed_in? %>
        <div class='jumbotron'>
        <% if current_user.current_group.blank? %>
            <h2 class="display-4">ようこそ!</h2>
            <p class='lead'><%= link_to 'だれがアイドルになるか当ててみてください!', new_group_path, class: 'btn btn-primary' %></p>
        <% else %>
            <div class='lead'>
                <div><h2 class='the-group'><%= link_to current_user.current_group.name, group_path(current_user.current_group) %></h2></div>
                <%= render partial: 'groups/group', locals: { group: current_user.current_group } %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class='jumbotron'>
            <h2 class="display-4">ようこそ!</h2>
            <p>だれがアイドルになるか当ててみてください！</p>
            <p class="lead mb-4 mt-4">
                <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-primary' %>
                <%= link_to 'ログイン', user_session_path, class: 'btn btn-secondary' %>
            </p>
        </div>
    <% end %>
    <div class='separator'><h1 class='text-uppercase'><%= "#{Contest.first.name_native} だれが最終メンバーに残ると思いますか？" %></h1></div>
    <div class='contestants'>
        <% if @contestant_ids.present? %>
            <% @contestant_ids.each do |id| %>
                <%= render partial: 'contestants/nameplate_full', locals: {contestant: Contestant.find_by(id: id)} %>
            <% end %>
        <% end %>
    </div>
</div>