<%= content_for(:title) { 'Home' } %>
<%= content_for(:page_description) { 'Start picking members for your fantasy idol groups.' } %>

<div class='homepage'>
    <% if user_signed_in? %>
        <div class='jumbotron'>
        <% if current_user.current_group.blank? %>
            <h2 class="display-4">ようこそ and Welcome!</h2>
            <p class='lead'>
                <%= link_to 'Start New Group', new_group_path, class: 'btn btn-primary btn-lg' %>
            </p>
        <% else %>
            <div class='lead'>
                <div><h2 class='the-group'><%= link_to current_user.current_group.name, group_path(current_user.current_group) %></h2></div>
                <%= render partial: 'groups/group', locals: { group: current_user.current_group } %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class='jumbotron'>
            <h2 class="display-4">ようこそ and Welcome!</h2>
            <hr class="my-4">
            <p>Please sign in or sign up to start picking members for your fantasy idol groups.</p>
            <p class="lead mb-4 mt-4">
                <%= link_to 'サインアップ (Sign Up)', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                <%= link_to 'ログイン (Sign In)', user_session_path, class: 'btn btn-secondary btn-lg' %>
            </p>
        </div>
        <div class='the-marquee'>
            <div id="groupCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ml-4 p-4">
                    <% Group.all.to_a.shuffle.each_with_index do |group, index| %>
                        <div class="<%= index == 1 ? 'carousel-item active' : 'carousel-item' %>">
                            <%= render partial: 'groups/group', locals: { group: group } %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <div class='separator'><h1 class='text-uppercase'><%= "#{Contest.first.name_native} Contestants" %></h1></div>
    <div class='contestants'>
        <% @contestants.each do |contestant| %>
            <%= render partial: 'contestants/nameplate_full', locals: {contestant: contestant} %>
        <% end %>
    </div>
</div>