<div class='homepage'>
    <% if user_signed_in? %>
        <div class='jumbotron'>
        <% if current_user.current_group.blank? %>
            <h1 class="display-4">Welcome, Producer!</h1>
            <p class='lead'>
                <%= link_to 'Start New Group', new_group_path, class: 'btn btn-primary btn-lg' %>
            </p>
        <% else %>
            <h4>Active Group</h4>
            <div class='lead'>
                <%= render partial: 'groups/group', locals: { group: current_user.current_group } %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class='jumbotron'>
            <h1 class="display-4">Welcome, Producer!</h1>
            <hr class="my-4">
            <p>Please sign up to start assembling fantasy idol groups.</p>
            <p class="lead mb-4 mt-4">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                <%= link_to 'Sign In', user_session_path, class: 'btn btn-secondary btn-lg' %>
            </p>
        </div>
    <% end %>
    <div class='contestants'>
        <% @contestants.each do |contestant| %>
            <%= render partial: 'contestants/contestant_nameplate_full', locals: {contestant: contestant} %>
        <% end %>
    </div>
</div>