<%= content_for(:title) { 'ホーム (Home)' } %>
<%= content_for(:page_description) { '予想にいいねしてください！' } %>

<div class='homepage'>
    <div class='jumbotron'>
        <h2 class="text-center">Oijofie Best 11</h2>
        <%= render partial: 'home/top_contestants' %>
    </div>
    <div class='separator'><h1 class='text-uppercase'>予想にいいねしてください！</h1></div>
    <div class='periods'>
        <% selected_period = params[:selected_period].present? ? params[:selected_period] : Contest.first.current_period %>
        <div class='tabs'>
            <% Contest.first.periods.each do |period| %>
                <h4 class="tab <%= selected_period.to_i == period ? 'active' : 'inactive' %>"><%= link_to "#{period} 週", root_path(selected_period: period) %></h4>
            <% end %>
        </div>
        <div class='contestants'>
            <% if @contestant_ids.present? %>
                <% @contestant_ids.each do |id| %>
                    <% contestant = Contestant.find_by(id: id) %>
                    <%= render partial: 'contestants/nameplate_full', locals: {contestant: contestant, period: selected_period} if contestant.rank_for_period(selected_period).present? %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>