<%= content_for(:title) { 'ホーム (Home)' } %>
<%= content_for(:page_description) { 'アイドルショーのファンタジースポーツサイトのように、Oijofieはユーザーが自分のファンタジーグループに競技者を追加できるようにします。競技者が実生活でランキングを受け取ると、ファンタジーグループは含まれる各メンバーに基づいてスコアが付けられます。グループスコアはラウンドごとに累積します。' } %>

<div class='homepage'>
    <% if user_signed_in? %>
        <div class='jumbotron'>
        <% if current_user.current_group.blank? %>
            <h2 class="display-4">ようこそ!</h2>
            <p class='lead'><%= link_to 'だれがアイドルになるか当ててみてください!', new_group_path, class: 'btn btn-primary' %></p>
        <% else %>
            <div class='lead'>
                <div><h2 class='the-group'><%= link_to current_user.current_group.name, group_path(current_user.current_group) %></h2></div>
                <%= render partial: 'groups/group', locals: { group: current_user.current_group } %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class='jumbotron'>
            <h2 class="text-center">Oijofie Top 11</h2>
            <p class='text-center mb-4 mt-2'>予想にいいねしてください！</p>
            <%= render partial: 'home/top_contestants' %>
        </div>
    <% end %>
    <div class='separator'><h1 class='text-uppercase'><%= "#{Contest.first.name_native} だれが最終メンバーに残ると思いますか？" %></h1></div>
    <div class='periods'>
        <% selected_period = params[:selected_period].present? ? params[:selected_period] : Contest.first.current_period %>
        <div class='tabs'>
            <% Contest.first.periods.each do |period| %>
                <h4 class="tab <%= selected_period.to_i == period ? 'active' : 'inactive' %>"><%= link_to "#{period} 週", root_path(selected_period: period) %></h4>
            <% end %>
        </div>
        <div class='contestants'>
            <% if @contestant_ids.present? %>
                <% @contestant_ids.each do |id| %>
                    <% contestant = Contestant.find_by(id: id) %>
                    <%= render partial: 'contestants/nameplate_full', locals: {contestant: contestant, period: selected_period} if contestant.rank_for_period(selected_period).present? %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>