<!DOCTYPE html>
<html>
  <head>
    <title>Aidoru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= "oijofie #{controller.controller_name} #{controller.action_name}" %> container'>
    <%= render partial: 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
